  <footer class="footer">
    <div>
      {{ range .Site.Menus.footer }}
        <a class="footer__link" href="{{ .URL }}">{{ .Name }}</a>
      {{ end }}
    </div>
  </footer>

  <script>
    var dropdown = document.querySelector('.js-dropdown'),
      list = dropdown.querySelector('.js-dropdown-list'),
      current = dropdown.querySelector('.js-dropdown-current');

    current.addEventListener('click', function(e) {
      list.classList.toggle('header-dropdown__list_show');

      document.addEventListener('click', function(e) {
        if(!dropdown.contains(e.target)) {
          list.classList.remove('header-dropdown__list_show');
        }
      });
    }, false)
  </script>

</body>
</html>
