<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ .Title }} | {{ .Site.Title }}</title>
  <link rel="stylesheet" href="{{ "/css/main.css" | relURL }}" />
</head>

<body>
  <header class="header">
    <div class="header__wrapper">
      <div class="header__topnav">
        <a href="https://skycoin.net" class="header__link">&larr; skycoin.net</a>
        <a href="{{ .Site.Params.rss }}" class="btn btn--pill btn--outline btn--blue">Subscribe (RSS)</a>
      </div>

      <img class="logo" alt="Skycoin Blog" src="{{ "/images/logo-outlined.svg" | relURL }}" />

      <nav class="nav">
        {{ range .Site.Menus.main }}
          <a class="nav__item" href="{{ .URL }}">{{ .Name }}</a>
        {{ end }}
      </nav>
    </div>
  </header>
